@font-face {
    font-family: 'Kilde Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Kilde Sans'), url('https://fonts.cdnfonts.com/s/27078/KildeSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Kilde Sans';
    font-style: italic;
    font-weight: 250;
    src: local('Kilde Sans'), url('https://fonts.cdnfonts.com/s/27078/KildeSans-ExtraLight.woff') format('woff');
}
// @font-face {
//     font-family: 'Kilde Sans';
//     font-style: italic;
//     font-weight: 300;
//     src: local('Kilde Sans'), url('https://fonts.cdnfonts.com/s/27078/KildeSans-Light.woff') format('woff');
// }
// @font-face {
//     font-family: 'Kilde Sans';
//     font-style: italic;
//     font-weight: 600;
//     src: local('Kilde Sans'), url('https://fonts.cdnfonts.com/s/27078/KildeSans-Semibold.woff') format('woff');
// }
@font-face {
    font-family: 'Kilde Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Kilde Sans'), url('https://fonts.cdnfonts.com/s/27078/KildeSans-Bold.woff') format('woff');
}
// @font-face {
//     font-family: 'Kilde Sans';
//     font-style: italic;
//     font-weight: 900;
//     src: local('Kilde Sans'), url('https://fonts.cdnfonts.com/s/27078/KildeSans-Black.woff') format('woff');
// }