@font-face {
    font-family: 'Colaborate-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Colaborate-Bold'), url('https://fonts.cdnfonts.com/s/86/ColabBol.woff') format('woff');
}
// @font-face {
//     font-family: 'ColaborateLight';
//     font-style: normal;
//     font-weight: 400;
//     src: local('ColaborateLight'), url('https://fonts.cdnfonts.com/s/86/ColabLig.woff') format('woff');
// }
// @font-face {
//     font-family: 'Colaborate-Medium';
//     font-style: normal;
//     font-weight: 400;
//     src: local('Colaborate-Medium'), url('https://fonts.cdnfonts.com/s/86/ColabMed.woff') format('woff');
// }
@font-face {
    font-family: 'Colaborate-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Colaborate-Regular'), url('https://fonts.cdnfonts.com/s/86/ColabReg.woff') format('woff');
}
@font-face {
    font-family: 'Colaborate-Thin';
    font-style: normal;
    font-weight: 400;
    src: local('Colaborate-Thin'), url('https://fonts.cdnfonts.com/s/86/ColabThi.woff') format('woff');
}