.system-resource-usage,
.console {
    @include wrapper();
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    font-family: monospace;
    background: #a5a5a5;

    &__stack {
        display: flex;
        flex-direction: column;
        padding: 5px 0;
    }
    &__row {
        display: flex;
    }
}