.logo {
    display: inline-block;
    position: relative;
    height: 80px;
    &__link {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 10px;
    }
    &__img {
        object-fit: contain;
        height: 100%;
        width: auto;
    }
    &__label {
        color: white;
        font-weight: 200;
        padding-left: .5em;
        font-size: 28px;
    }
}