.menu {
    @include noul();
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    &__link {
        display: block;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 0 30px;
        height: 100%;
        font-size: 24px;
        font-weight: 400;
    }
}