.messenger {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    &__row {
        display: flex;
        padding: 5px 10px;
        color: #e9ebdd;
        background: #4b4b45cc;
        border-left: 4px solid #b1b1a6;
        margin: 10px 0;

        &_ok {
            color: #d0f1c1;
            background: #243d1be7;
            border-color: #417c2b;
        }

        &_warning {
            color: #eee8b7;
            background: #443c18e7;
            border-color: #928a14;
        }

        &_error {
            color: #f8caca;
            background: #753838a8;
            border-color: #921414;
        }

        &_debug {
            font-size: $m_text;
            line-height: 1.25em;
            color: #b7b7b7;
            background-color: #171717cc;
            border-left: none;

            & .messenger__row-time {
                display: none;
            }
        }

        & pre,
        & code {
            font-size: 13px;
            white-space: pre-wrap;
        }
    }

    &__row-text {
        width: 100%;

        & code {
            display: flex;
            flex-direction: column;
            white-space: pre-wrap;
        }
    }

    &__row-time {
        width: 80px;
        font-size: 15px;
        text-align: right;
    }
}