.poe-filters {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        width: calc(100% / 3 - 12px * 2 / 3);
        background-color: $bkgd_input;
        border-radius: 20px;
        border: 2px solid transparent;
        transition: $transition;

        &_create-form {
            border-color: $gold;
            background-image: url('/files/images/kitava-zana-shaper-maven.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-blend-mode: multiply;
            background-size: cover;

            &:hover {
                border-color: adjust-color($color: $gold, $saturation: -10%, $lightness: 15%);
                background-color: opacify($color: $bkgd_input, $amount: 0.1);
            }
        }
    }
}